body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Fundo escuro */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
}

.container, .score-container {
    background: #252525; /* Cinza escuro */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 100%;
    max-width: 600px; /* Aumenta a largura máxima */
    color: rgb(212, 212, 212);
    flex-direction: column;
    border: 2px solid #ffffff1e; /* Verde claro */
}

#team-a-name{
    border: 2px solid #2b748a; /* Verde claro */
}

#team-b-name{
    border: 2px solid #216d2d; /* Verde claro */
}

h1 {
    color: #ffffff; /* Verde claro */
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}


input[type="number"], input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff9f; /* Verde claro */
    border-radius: 6px;
    font-size: 1em;
    background: #333; /* Fundo escuro para input */
}


button {
    background-color: #42b6ac; /* Verde claro padrão */
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    width: 100%;
    font-size: 1em;
    margin-top: 10px;
    border: 2px solid #ffffff; /* Verde claro */
}

button:hover {
    background-color: #4db6b2; /* Verde mais escuro padrão */
}

/* Botões de Incremento e Decremento */
button.increment {
    background-color: #42b6ac; /* Verde claro */
}

button.increment:hover {
    background-color: #4db6b2; /* Verde mais escuro */
}

button.decrement {
    background-color: #c0392b; /* Vermelho */
}

button.decrement:hover {
    background-color: #e74c3c; /* Vermelho mais escuro */
}

.score-container {
    display: flex;
    width: 100%; /* Garante que ocupe toda a largura */
    flex-wrap: wrap; /* Permite que os cards se ajustem */
    margin-bottom: 20px; /* Espaço abaixo do score-container */
}

.scoreboard {
    display: flex;
}

.buttons-play {
    display: flex;
}

.team-cardA, .team-cardB {
    background: #2b748a; /* Verde escuro para Time A */
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 45%; /* Ajusta a largura dos cards */
    text-align: center;
    margin: 10px; /* Adiciona espaço entre os cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 10px;
    border: 2px solid #ffffff4b; /* Verde claro */
}

#increase-a,#increase-b{
    background-color: rgb(22, 160, 22);
}


#decrease-a, #decrease-b{
    background-color: rgb(150, 10, 10);
}

.team-cardB {
    background: #216d2d; /* Laranja escuro para Time B */
}

h2 {
    margin: 0;
    color: #f1c40f; /* Dourado */
    font-size: 1.5em;
}

h3 {
    margin: 10px 0;
    font-size: 3em;
    color: #ffffff; /* Branco */
}

#winner-message {
    font-size: 1.5em;
    color: #f1c40f; /* Dourado */
    margin-top: 20px;
    display: none;
    text-align: center;
}

footer {
    background-color: #333; /* Cinza escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Largura total */
    position: fixed; /* Posiciona o footer na parte inferior */
    bottom: 0; /* Coloca o footer na parte inferior da janela */
}

footer p {
    margin: 0; /* Remove margens padrão */
    font-size: 0.9em; /* Tamanho da fonte */
}


/* Estilo para os botões Reiniciar e Novo Jogo */
button#restart,
button#new-game {
    width: 48%; /* Ajusta a largura dos botões */
    margin: 10px 1%; /* Adiciona margem entre os botões */
}

/* Estilo para os botões + e - */
button.increment, button.decrement {
    width: 45%; /* Ajusta a largura dos botões */
    margin: 0 2.5%; /* Aumenta o espaço entre os botões */
}
